SECRET_KEY='введите ваш секретный ключ'
STRIPE_API_KEY='ваш ключ для stripe'

DEBUG=True

DB_NAME='введите свое название базы данных'
DB_USER='введите собственные значения'
DB_PASSWORD= 'введите пароль пользователя базы данных'
DB_HOST='введите свой хост'
DB_PORT='введите свой порт'